.navbar {
    margin-top: 0;
    overflow: hidden;
    background: #fff;
    padding: 16px;
    width: 100%;
    border: 0;
    z-index: 9;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.navcontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}



.containerMessages {
    width: 80%;
    height: 100%;
    padding-top: 5%;
    margin: auto;
    display: block;
}

@media screen and (max-width : 1200px) {
    .containerMessages {
        min-width: 350px;
        height: 100%;
        padding-top: 5%;
        margin: auto;
        display: block;
    }
}

.content {

    height: fit-content;
    padding: 1% 5%;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
}

.content__tabs__text {
    font-size: clamp(8px, 1vw, 14px);
    margin-right: 10%;
}

.content__messages {
    list-style: none;
}

.content__message hr {
    width: 100%;
    height: 1px;
}